@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";

.u-drag-list{
  background: $dnd-list-background;
  padding: $dnd-list-padding;
}
.u-list-dragging{
  background: $dnd-list-dragging-background;
}
.u-drag-item{
  user-select: none;
  padding: $dnd-item-padding;
  color: $dnd-item-color;
  margin: $dnd-item-margin;
  background: $dnd-item-background;
}
.u-dragging{
  background: $dnd-item-dragging-background;
}
