@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";

.bee-drag-list{
  background: lightgrey;
  padding: 8px;
  width: 250px;
}
.bee-drag-list.draging{
  background: lightblue;
}
.bee-drag-item{
  user-select: none;
  padding: 16px;
  color: #000000;
  background: grey;
  margin-bottom: 8px;
}
.bee-drag-item.draging{
  background: lightgreen;
}